/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug class*/
.debug{
    border: 1px solid red;
}

/*Generals*/

body{
    font-family: "Open Sans", sans-serif;
}
header{
    width: 100%;
}

/*Flex-utilities*/
.d-flex{
    display: flex;
}
.s-between{
    justify-content: space-between;
}
.flex-end{
    justify-content: flex-end;
}
.flex-start{
    justify-content: flex-end;
}
#logo{
    height: 50px;
}