/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug class*/
.debug{
    border: 1px solid red;
}
.grey-border{
    border: 1px solid #d4d4d6;
}
.black-border{
    border: 1px solid black;
}
.grey-border-2{
    border-top: 1px solid #d4d4d6;
    border-left: 1px solid #d4d4d6;
    border-right: 1px solid #d4d4d6;
}

/*Colors*/
:root{
    --color-light-blue: #b4d0e7; 
    --color-dark: #000000; 
    --color-blue: #0061ff; 
    --color-grey: #f5f5f5; 
    --color-contrast: #753f63; 
    --color-logo-green: #a2d39b; 
    --color-logo-second: #61082b; 
    --color-logo-third: #0093ce; 
    --color-logo-light-red: #ff1c1c; 
    --color-logo-red: #d5001f; 
    --color-logo-blue: #0d2481; 
    --color-logo-yellow: #ffd830; 
    --color-acquista-ora:#1313f0;
    --checkmark-blue:#0569ff;
}

.white{color:white;}
/*Backgrounds*/
.bg-blue{
    background-color: var(--color-blue);
}
.bg-footer{
    background-color: var(--color-dark);
}
.bg-sez1{
    background-color: var(--color-light-blue);
}

/*Containers*/
.container{
    max-width: 1200px;
    margin-inline:auto;
    padding-inline: 20px;
}

.container-small{
    max-width: 999px;
    margin-inline:auto;
    padding-inline: 20px;
}

/*Generals*/

body{
    font-family: "Open Sans", sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1000;
    padding: 15px 10px;
}
h1{
    font-size: 4em;
    font-weight: 800;

}
img{
    width: 100%;
    height: 100%;
}
/*Flex-utilities*/
.d-flex{
    display: flex;
}
.flex-center{
    justify-content: center;
}
.s-between{
    justify-content: space-between;
}
.flex-end{
    justify-content: flex-end;
}
.flex-start{
    justify-content: flex-end;
}
.flex-grow{
    flex-grow: 1;
}
.a-it-center{
    align-items: center;
}
.a-it-fs{
    align-items: flex-start;
}
.f-dir-column{
    flex-direction: column;
}
.f-wrap-no{
    flex-wrap: nowrap;
}


ul{
    list-style: none;
}

#lista1 li{
    margin-left: 13px;
}

#lista2 li{
    margin-right: 13px;
}

header nav div div ul li{
    padding: 7px;
}

a{
    color: black;
    text-decoration: none;
}
h2{
    font-size: 2.5em;
    
}
section div div h2{
    padding: 35px 10px;
}

#blue-btn{
    background-color: var(--color-blue);
    color:white;
}
footer{
    color: white;
}

footer div div ul li{
    font-size: small;
    padding-bottom: 8px;
    opacity: 0.8;
}

footer div div p{
    font-size: smaller;
    opacity: 0.8;
    padding-left: 5px;
}
h3{
    font-size:1.3em;

}

/*Select*/
select{
    background-color: var(--Black-button);
    border-style: none;
    color: white;
    opacity: 0.8;
}

#Section1{
    padding-top: 100px;
}


.jumbo-pic{
    width: 70%;
}
.jumbo-text{
    width: 30%;
}
.img-position{
    position: relative;
    top: 40px;
}
.gap-60px{
    gap: 60px;
}

.padding-top{
    padding-top: 40px;
}
.p-top-15px{
    padding-top: 15px;
}
.padding-btn{
    padding: 10px 15px;
}
.padding-left{
    padding-left: 2px;
}
.padding-left2{
    padding-left: 30px;
}
.padding-bottom{
    padding-bottom: 20px;
}
.padding-bottom10px{
    padding-bottom: 10px;
}
.padding-bottom5px{
    padding-bottom: 5px;
}
.p-bottom-17px{
    padding-bottom: 17px;
}
.p-bottom-30px{
    padding-bottom: 30px;
}
.p-bottom-50px{
    padding-bottom: 50px;
}
.p-top{
    padding-top: 40px;
}
.p-top2{
    padding-top: 80px;
}
.m-top12px{
    margin-top: 12px;
}
.p-btn-c-u-v{
    padding: 13px 26px;
}
.box{
    width: 270px;
}
.p-box{
    padding: 20px 15px;
}
.font-size-euro{
    font-size: 0.8em;
}
.opacity{
    opacity: 0.7;
}

.p-right{
    padding-right: 10px;
}
.p-right5px{
    padding-right: 5px;
}
.acquista-ora{
    text-decoration-line: underline;
    color: var(--color-acquista-ora);
}
.margin-top-50px{
    margin-top: 50px;
}
.width-40px{
    width: 40px;
}
.p-btn2{
    padding: 10px 40px;
}
.checkmark-blue{
    color: var(--checkmark-blue);
}
.gap20px{
    gap: 20px;
}

.p-top-bot{
    padding: 10px 0;
}

.p-l-r20px{
    padding-left: 20px;
    padding-right: 20px;
}

.width-sx-enterprise{
    width: 75%;
}
.width-dx-enterprise{
    width: 25%;
}
.opacity{
    opacity: 0.9;
}
.pdim{
    font-size: 0.9em;
}
.width-sx-section4{
    width: 60%;
}
.width-dx-section4{
    width: 40%;
}
.width-40perc{
    width: 40%;
}
.btn-white{
    padding: 8px 5px;
}
.width33perc{
    width: calc(100% / 3);
}